<div class="abrir-modal animation fadeIn" *ngIf="modalService.modal">
  <div class="modal modal-lg" tabindex="-1" style="display: block">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ titulo }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="cerrarModal()"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <ul class="list-group text-dark mb-3" *ngIf="cliente">
                  <li class="list-group-item">{{ cliente.nombre }}</li>
                  <li class="list-group-item">{{ cliente.apellido }}</li>
                  <li class="list-group-item">{{ cliente.email }}</li>
                  <li class="list-group-item">
                    {{ cliente.createAt | date : "fullDate" }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <input
                    type="file"
                    class="form-control"
                    id="inputGroupFile04"
                    aria-describedby="inputGroupFileAddon04"
                    aria-label="Upload"
                    (change)="seleccionarFoto($event)"
                  />
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="inputGroupFileAddon04"
                    (click)="subirFoto()"
                    [disabled]="!this.fotoSeleccionada"
                  >
                    Subir
                  </button>
                </div>
                <div *ngIf="progreso > 0" class="progress" style="height: 40px">
                  <div
                    class="progress-bar progress-bar-striped"
                    role="progressbar"
                    [ngStyle]="{ width: progreso + '%' }"
                    attr.aria-valuenow="{{ progreso }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    {{ progreso }}%
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <img
                  class="img-thumbnail"
                  src="http://localhost:8080/api/uploads/img/{{ cliente.foto }}"
                  alt="{{ cliente.foto }}"
                  *ngIf="cliente"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="cerrarModal()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
