<div class="card border-primary my-5">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>
    <div class="my-2 text-left">
      <button
        class="btn brn-rounded btn-primary"
        type="button"
        [routerLink]="['/clientes/form']"
      >
        Crear Cliente
      </button>
    </div>
    <div *ngIf="clientes?.length == 0" class="alert alert-info">
      No hay registros en la base de datos
    </div>
    <table class="table table-bordered" *ngIf="clientes?.length > 0">
      <thead>
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <!-- el ngFor repite un arreglo es como el map de react -->
        <!-- | uppercaseun es un "pipe", un componente de 
          transformación de datos que se utiliza para transformar datos en la vista -->
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido | uppercase }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt | date : "EEEE dd/MMMM/yyyy" }}</td>
          <td>
            <button
              class="btn btn-warning"
              type="button"
              name="editar"
              [routerLink]="['/clientes/form', cliente.id]"
            >
              Editar
            </button>
          </td>
          <td>
            <button
              class="btn btn-danger text-center"
              type="button"
              name="eliminar"
              (click)="delete(cliente)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
  </div>
</div>
