<ul class="alert alert-danger my-5" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white mb-5 py-3">
  <div class="card-header pb-2">{{ titulo }}</div>
  <div class="card-body">
    <form #clienteForm="ngForm">
      <div class="my-5">
        <label for="Nombre" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          name="nombre"
          [(ngModel)]="cliente.nombre"
          #nombre="ngModel"
        />
        <!--required, minlength="4" validaciones directas front de angular-->
        <div
          class="alert alert-danger"
          *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
        >
          <div *ngIf="nombre.errors?.['required']">nombre es requerido</div>
          <div *ngIf="nombre.errors?.['minlength']">
            el nombre debe tener al menos 4 caracteres
          </div>
        </div>
      </div>
      <div class="my-5">
        <label for="apellido" class="form-label">Apellido</label>
        <input
          type="text"
          class="form-control"
          name="apellido"
          [(ngModel)]="cliente.apellido"
          #apellido="ngModel"
        />
        <!-- required -->
        <div
          class="alert alert-danger"
          *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
        >
          <div *ngIf="apellido.errors?.['required']">apellido es requerido</div>
        </div>
      </div>

      <div class="my-5">
        <label for="text" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="cliente.email"
          #email="ngModel"
        />
        <!-- required, email -->
        <div
          class="alert alert-danger"
          *ngIf="email.invalid && (email.dirty || email.touched)"
        >
          <div *ngIf="email.errors?.['required']">email es requerido</div>
          <div *ngIf="email.errors?.['email']">
            email debe tener un formato valido
          </div>
        </div>
      </div>
      <div class="my-5">
        <label for="createAt" class="form-label">Fecha</label>
        <input
          type="date"
          class="form-control"
          name="createAt"
          [(ngModel)]="cliente.createAt"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="create()"
        *ngIf="!cliente.id; else elseBlock"
        [disabled]="!clienteForm.form.valid"
      >
        Crear
      </button>
      <ng-template #elseBlock>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="update()"
          [disabled]="!clienteForm.form.valid"
        >
          Editar
        </button>
      </ng-template>
    </form>
  </div>
</div>
